* {
    margin: 0;
    padding: 0;
    }
  
    button {
      padding: 12px 10px;
      width: 30%;
      border-radius: 4px;
      cursor: pointer;
      font-size: 18px;
      float: middle;
      }
      input {
        margin: 10px;
        padding: 18px 10px;
        border-radius: 4px;
        border: 1px solid #4a4d53;
        box-shadow: 1px 0.5px #7a7878;
        font-size: 18px;
        }
  