* {
    margin: 0;
    padding: 0;
    }
  
    .btn {
      padding: 12px 10px;
      width: 30%;
      margin-left: 38%;
      margin-top: 10px;
      }
      input {
        margin: 10px;
        padding: 18px 10px;
        border-radius: 4px;
        border: 1px solid #4a4d53;
        box-shadow: 1px 0.5px #7a7878;
        font-size: 18px;
        }

        .text-center,h3,.btn,p{
          font-family: 'Lobster', cursive;
        }
        .total-found{
          margin-right: 8%;
          font-size: 30px;
        }
  
  
